body {
    background: oklch(0% 0 0);
    font-family:"Sans Serif", cursive;
    scroll-behavior: smooth;
}

.navigation-link {
    border:  5px solid transparent;
}

.navigation-link:hover {
    text-decoration: none;
    border-bottom: 5px solid yellowgreen;
    transition: 0.5s ease;
}