body {
    background-color: #f8f9fa;
    font-family: Arial, sans-serif;
}

.card {
    border-radius: 12px;
}

h2 {
    color: #444;
}

.income-item {
    color: green;
    font-weight: bold;
}

.expense-item {
    color: red;
    font-weight: bold;
}